.cryptodetails {
  margin-top: 12rem;
  width: 1000px;
  height: auto;

  @media screen and (max-width: 420px) {
    width: 390px;
    padding: 0.5rem;
    margin-top: 8rem;
  }

  @media screen and (max-width: 750px) and (min-width: 421px) {
    width: auto;
    padding: 0.5rem;
    margin-top: 8rem;
  }

  @media screen and (max-width: 920px) and (min-width: 751px) {
    width: 768px;
    padding: 0.5rem;
    margin-top: 8rem;
  }

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    h3 {
      font-size: 1.8rem;
      font-weight: 700;

      @media screen and (max-width: 420px) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: 900px) {
        font-size: 1.6rem;
      }
    }

    img {
      width: 78px;
      height: 78px;

      @media screen and (max-width: 420px) {
        width: 58px;
        height: 58px;
      }

      @media screen and (min-width: 900px) {
        width: 64px;
        height: 64px;
      }
    }
  }

  &__desc {
    margin-top: 4rem;
    margin-bottom: 4rem;

    p {
      @media screen and (max-width: 420px) {
        font-size: 0.8rem;
      }

      @media screen and (max-width: 900px) {
        font-size: 0.9rem;
      }
    }
  }

  &__facts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 4rem;

    p {
      @media screen and (max-width: 420px) {
        font-size: 0.8rem;
      }

      @media screen and (min-width: 900px) {
        font-size: 1.1rem;
      }
      span {
        font-size: 1.6rem;

        @media screen and (max-width: 420px) {
          font-size: 1rem;
        }

        @media screen and (min-width: 900px) {
          font-size: 1.4rem;
        }
      }
    }
  }

  &__footer {
    margin-bottom: 4rem;

    @media screen and (max-width: 420px) {
      text-align: center;
    }
    p {
      font-size: 1.1rem;

      @media screen and (max-width: 420px) {
        font-size: 0.9rem;
      }

      a {
        text-decoration: none !important;
      }
    }
  }
}
