.app__footer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 60px;
  }

  p {
    margin-bottom: 0;
    font-size: 0.85rem;
  }

  a {
    text-decoration: none;
    color: var(--text-primary);
    transition: all 0.3s ease-in-out;

    &:hover {
      color: var(--turkis);
    }
  }
}
