table {
  width: 1200px !important;
  margin-top: 2rem;
  margin-bottom: 2rem !important;
  border-radius: 20px !important;

  text-align: center;
}

thead {
  border-top: 3px solid var(--violett) !important;
  border-radius: 20px !important;
}

th {
  padding: 1rem !important;
  background-color: var(--bgSecondary) !important;
}

td {
  padding: 1.4rem 1rem !important;
  font-weight: 400 !important;
}

.table {
  padding: 2rem !important;
}

.table-head-row {
  padding: 1rem !important;
}

.crypto-name {
  font-weight: 700 !important;
  text-align: left;
}

.crypto-logo {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}
