.app__news {
  margin-bottom: 6rem;

  @media screen and (max-width: 420px) {
    margin-bottom: 4rem;
  }
}

.app__news-header {
  font-size: 1.6rem;
  font-weight: 700;
  flex: 1;
  text-align: center;

  &.dark {
    color: var(--text-dark);
  }

  @media screen and (max-width: 420px) {
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    flex: 1;
  }

  @media screen and (max-width: 899px) and (min-width: 421px) {
    text-align: center !important;
  }

  @media screen and (max-width: 1200px) {
    flex: 1;
    text-align: left;
    margin-left: 2.4rem;
  }

  span {
    color: var(--red);
  }
}

.app__news-show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  @media screen and (max-width: 420px) {
    flex-direction: column;
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }

  a {
    text-decoration: none;
    color: var(--text-primary);

    &:hover {
      color: var(--text-primary);
    }
  }

  .news-card {
    width: 320px;
    height: auto;
    margin: 2rem 0.75rem;
    background: #fff;
    padding: 1.5rem;
    border-top: 3px solid var(--red);
    border-radius: 20px;
    box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    transition: all 0.35s ease-in-out;

    &.dark {
      background: var(--bgDarkCard);
    }

    @media screen and (max-width: 1200px) {
      width: 280px;
    }

    @media screen and (max-width: 900px) {
      width: 400px;
    }

    @media screen and (max-width: 420px) {
      width: 280px;
    }

    &:hover {
      box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.25);
    }

    p {
      font-size: 0.93rem;
    }

    .news-head {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      h3 {
        font-size: 1.15rem;
        font-weight: 700;

        &:hover {
          color: var(--red);
        }
      }
    }

    img {
      max-width: 260px;
      max-height: 160px;
      margin-bottom: 1rem;

      @media screen and (max-width: 900px) {
        max-width: 360px;
        max-height: 190px;
      }
    }

    .news-infos {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .news-rights {
        font-weight: 700;
        font-size: 13px;

        @media screen and (max-width: 420px) {
          font-size: 10px;
        }
      }

      .news-time {
        font-size: 13px;

        @media screen and (max-width: 420px) {
          font-size: 10px;
        }
      }
    }
  }
}
