.app__news {
  margin-bottom: 6rem;
}

.app__news-header {
  font-size: 1.6rem;
  font-weight: 700;
  flex: 0.315;
  text-align: right;

  span {
    color: var(--red);
  }
}

.app__news-show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  a {
    text-decoration: none;
    color: var(--text-primary);

    &:hover {
      color: var(--text-primary);
    }
  }

  .news-card {
    width: 300px;
    max-height: 450px;
    margin: 2rem 1rem;
    background: #fff;
    padding: 1.5rem;
    border-top: 3px solid var(--red);
    border-radius: 20px;
    box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.25);
    }

    p {
      font-size: 0.93rem;
    }

    .news-head {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      h3 {
        font-size: 1.15rem;
        font-weight: 700;

        &:hover {
          color: var(--red);
        }
      }
    }

    img {
      max-width: 260px;
      max-height: 160px;
      margin-bottom: 1rem;
    }
  }
}
