@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

:root {
  --primary-font: "Poppins", sans-serif;

  --text-primary: #16303a;
  --text-secondary: #fff;
  --text-dark: #f7f7f7;
  --bgPrimary: #f9f9fb;
  --bgDark: #1d2630;
  --bgDarkNav: #1b2430;
  --bgDarkCard: #dfe5ec;
  --bgSecondary: #fff;
  --violett: #5e17eb;
  --turkis: #5ce1e6;
  --red: #f91e5a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-family: var(--primary-font);
  background: var(--bgPrimary);
  color: var(--text-primary);

  &.dark {
    background: var(--bgDark);
  }
}

.app__home,
.app__crypto,
.app__news {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.app__home-heading,
.app__crypto-heading,
.app__news-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.app__crypto-heading {
  @media screen and (max-width: 400px) {
    flex-direction: column;
    padding-bottom: 2rem;
  }
}

.green {
  color: #00cc00;

  span {
    color: var(--text-primary);
    font-size: 0.85rem;
    margin-left: 4px;
    font-weight: 400 !important;
  }
}

.red {
  color: var(--red);

  span {
    color: var(--text-primary);
    font-size: 0.85rem;
    margin-left: 4px;
    font-weight: 400 !important;
  }
}

.turkis {
  color: var(--turkis);
  font-weight: 700 !important;
}

.m-bold {
  font-weight: 700;
}

.p-text {
  font-size: 1.08rem;
  font-weight: 500;
}

.none {
  opacity: 0;
}
